# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.hprof
replay_pid*.log
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.sixth/
hs_err_pid*.log
debug-info/
.kotlin/
key.properties
android/key.properties


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
/build/
**/build/
/coverage/

# Android build artifacts & local properties
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/local.properties
android/captures/
android/gradleApp.setting

# iOS build artifacts
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions
Pods/
Podfile.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

